N8N_DATA_PATH=YOUR_ROOT_DIRECTORY/n8n-data
WAHA_DATA_PATH=YOUR_ROOT_DIRECTORY/waha-data
N8N_HOST=YOUR_SUBDOMAIN.YOUR_DOMAIN

CLOUDFLARE_TUNNEL_TOKEN=YOUR_CLOUDFLARE_TUNNEL_TOKEN

WAHA_API_KEY=GENERATED_YOUR_API_KEY
WAHA_DASHBOARD_USERNAME=CREATED_YOUR_USERNAME
WAHA_DASHBOARD_PASSWORD=CREATED_YOUR_PASSWORD

GENERIC_TIMEZONE=Asia/Jakarta
TZ=Asia/Jakarta